Package            Version
------------------ ---------
black              24.4.2
certifi            2024.2.2
charset-normalizer 3.3.2
click              8.1.7
DateTime           5.5
idna               3.7
mypy-extensions    1.0.0
packaging          24.0
pathspec           0.12.1
pip                22.2.2
platformdirs       4.2.2
pytz               2024.1
requests           2.32.2
setuptools         63.2.0
tomli              2.0.1
typing_extensions  4.11.0
urllib3            2.2.1
zope.interface     6.4.post1
