asttokens==2.4.1
backports.tarfile==1.1.1
black==24.4.2
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
DateTime==5.5
decorator==5.1.1
docutils==0.21.2
exceptiongroup==1.2.1
executing==2.0.1
idna==3.7
importlib_metadata==7.1.0
ipython==8.26.0
jaraco.classes==3.4.0
jaraco.context==5.3.0
jaraco.functools==4.0.1
jedi==0.19.1
keyring==25.2.1
markdown-it-py==3.0.0
matplotlib-inline==0.1.7
mdurl==0.1.2
more-itertools==10.2.0
mypy-extensions==1.0.0
nh3==0.2.17
packaging==24.0
parso==0.8.4
pathspec==0.12.1
pexpect==4.9.0
pkginfo==1.10.0
platformdirs==4.2.2
prompt_toolkit==3.0.47
ptyprocess==0.7.0
pure-eval==0.2.2
Pygments==2.18.0
python-dotenv==1.0.1
pytz==2024.1
readme_renderer==43.0
requests==2.32.2
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==13.7.1
six==1.16.0
stack-data==0.6.3
tomli==2.0.1
traitlets==5.14.3
twine==5.1.0
typing_extensions==4.11.0
urllib3==2.2.1
wcwidth==0.2.13
zipp==3.18.2
zope.interface==6.4.post1
